<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1006172487659-da8vgf10bgv7jbeot4oqu8egb7cqmjnb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1006172487659-da8vgf10bgv7jbeot4oqu8egb7cqmjnb</string>
	<key>API_KEY</key>
	<string>AIzaSyCYHYw6OqV5DW7VN_7n_M051GnCVT6Z2lg</string>
	<key>GCM_SENDER_ID</key>
	<string>1006172487659</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.justalab.cpl</string>
	<key>PROJECT_ID</key>
	<string>cpl-dev</string>
	<key>STORAGE_BUCKET</key>
	<string>cpl-dev.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1006172487659:ios:9fad74c830ea9eb6</string>
	<key>DATABASE_URL</key>
	<string>https://cpl-dev.firebaseio.com</string>
</dict>
</plist>